*{
    font-family: "JetBrains Mono";
}

.login-content{
    width: 380px; /* Adjust width as needed */
    height: 450px; /* Adjust height as needed */
    margin: 50px auto;
}
.bth-4{
    display: flex;
    flex-direction: column; /* Arrange flex items vertically */
}
.bth-4-1{
    margin: 10px; /* Add spacing between flex items */
}
.link-0{
    margin: 0 15px;

}