
.HomeBellowPart{
    padding: 165px;
    text-align: center;
    background: linear-gradient(to bottom, #91a7ff , #5f3dc4);
    color: white;
    margin-bottom: 96px;
}
.h1-1{
    font-family: "JetBrains Mono";
    margin-bottom: 20px;
    font-weight: bold;
}
.p-1{
    font-family: "JetBrains Mono";
    margin-bottom: 20px;

}
.bth{
    margin: 20px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;

}
.bth-3{
    background-color: black;
    color: white;
}
.bth-3:hover,bth-0:active{
    background-color: #343a40;
}
